<ion-content color="dark">

    <!-- Primera sección -->
    <div class="ion-padding">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col class="ion-text-center">
                    <h1 class="ion-text-uppercase">{{carta.nombreCarta}}</h1>
                    <p>Toda la información que necesitas sobre esta carta se encuentra aquí</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!-- Segunda sección -->
    <ion-grid>

        <ion-row>
            <!-- Imagen de la carta -->
            <ion-col size="12" class="ion-padding-bottom">
                <ion-img [src]="getCardImage(carta)" [alt]="carta.nombreCarta" (error)="onImageError($event, carta)" [alt]="carta.nombreCarta"></ion-img>
            </ion-col>

            <!-- Información de la carta -->
            <ion-col size="12" class="ion-padding-top ion-padding-bottom">

                <!-- Nombre de carta -->
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <h4>Nombre de carta: {{carta.nombreCarta}}</h4>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="carta.baneada === true" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h4>Carta PROHIBIDA en formato Dominación</h4>
                    </ion-label>
                </ion-item>

                <!-- Tipo de carta -->
                <ion-item *ngIf="carta?.tipo" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Tipo de carta: {{carta?.tipo?.nombreTipo}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Tipo de carta -->
                <ion-item *ngIf="carta?.tipo2" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Tipo de carta: {{carta?.tipo2?.nombreTipo}}</h5>
                    </ion-label>
                </ion-item>

                <div *ngIf="carta.tipo.nombreTipo === 'MONUMENTO' && !carta.subtipo?.nombreSubTipo; then noMuestroNada
                else comprobarAccionRapida">
                </div>

                <ng-template #noMuestroNada>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <h5>Subtipo: -</h5>
                        </ion-label>
                    </ion-item>
                </ng-template>

                <ng-template #comprobarAccionRapida>
                    <ion-item lines="none" *ngIf="carta.tipo.nombreTipo === 'ACCION' && carta.subtipo?.nombreSubTipo === 'RAPIDA'; else mostrarNombreSubtipo">
                        <ion-label class="ion-text-wrap">
                            <h5>Supertipo: {{ carta.subtipo.nombreSubTipo }}</h5>
                        </ion-label>
                    </ion-item>
                </ng-template>

                <ng-template #mostrarNombreSubtipo>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <h5>Subtipo: {{ carta?.subtipo?.nombreSubTipo }}</h5>
                        </ion-label>
                    </ion-item>
                </ng-template>


                <ion-item *ngIf="carta?.subtipo2" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5 *ngIf="carta?.subtipo2">
                            Subtipo: {{carta?.subtipo2?.nombreSubTipo}}
                        </h5>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="carta?.subtipo2" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5 *ngIf="carta?.subtipo3">
                            Supertipo: {{carta?.subtipo3?.nombreSubTipo}}
                        </h5>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="carta.tipo.nombreTipo === 'UNIDAD'" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Fuerza: {{carta?.valorAtaque}} | Resistencia: {{carta?.valorDefensa}}</h5>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="carta.tipo?.idTipo !== 6 && carta.tipo?.idTipo !== 30" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Coste: {{carta.costeCarta}}</h5>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="carta?.tipo?.nombreTipo === 'TESORO'" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Valor en bóveda: {{carta?.numeroTesoro}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Texto de carta -->
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Texto de carta: {{carta.textoCarta}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Texto de ambientación -->
                <ion-item *ngIf="carta?.flavorCarta" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Texto de ambientación: {{carta.flavorCarta}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Expansión -->
                <ion-item *ngIf="carta?.expansion" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Expansión: {{carta?.expansion?.nombreExpansion}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Rareza -->
                <ion-item *ngIf="carta.tipo.idTipo !== 30" lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Rareza: {{carta?.rareza?.nombreRareza}}</h5>
                    </ion-label>
                </ion-item>

                <!-- Ruling -->
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <h5>Ruling: {{carta.rulingCarta ? carta.rulingCarta : 'No hay comentarios sobre esta carta en este momento.'}}</h5>
                    </ion-label>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
            <ion-col>
                <h3>Otras versiones impresas de {{carta.nombreCarta}}</h3>
                <h4 *ngIf="!carta.urlImagen1 && !carta.urlImagen2 && !carta.urlImagen3">No existen otras versiones de esta carta.
                </h4>

                <ion-img *ngIf="carta.urlImagen1" class="cartaAlter img-fluid" [src]="carta.urlImagen1" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen2" class="cartaAlter img-fluid" [src]="carta.urlImagen2" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen3" class="cartaAlter img-fluid" [src]="carta.urlImagen3" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen4" class="cartaAlter img-fluid" [src]="carta.urlImagen4" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen5" class="cartaAlter img-fluid" [src]="carta.urlImagen5" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen6" class="cartaAlter img-fluid" [src]="carta.urlImagen6" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen7" class="cartaAlter img-fluid" [src]="carta.urlImagen7" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen8" class="cartaAlter img-fluid" [src]="carta.urlImagen8" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen9" class="cartaAlter img-fluid" [src]="carta.urlImagen9" [alt]="carta.nombreCarta"></ion-img>
                <ion-img *ngIf="carta.urlImagen10" class="cartaAlter img-fluid" [src]="carta.urlImagen10" [alt]="carta.nombreCarta"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>