<ion-header>
    <ion-toolbar>
        <ion-title>Creador de decklist</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="dark" class="ion-text-center ion-padding">

    <ion-text>
        <h1>Decklist</h1>
        <h2 *ngIf="deck">
            {{ deck?.nombreDecklist | uppercase }}
        </h2>
    </ion-text>


    <div>
        <h2>
            Reino:
            <span class="font-italic">(total: {{ getTotalCartas(reino) }})</span>
        </h2>

        <div *ngFor="let carta of getCartasUnicas(reino)">
            <ng-container *ngIf="carta.tipo.nombreTipo !== 'TESORO' && carta.tipo.nombreTipo !== 'TESORO - SAGRADO'">
                <div class="flex-container">
                    <ion-button color="danger" (click)="eliminarCarta(carta, reino)">-</ion-button>
                    <ion-text color="light">
                        <p>
                            {{ carta.nombreCarta }} x{{ getCantidad(carta, reino) }}
                        </p>
                    </ion-text>
                    <ion-button color="success" (click)="agregarCarta(carta)">+</ion-button>
                </div>
            </ng-container>
        </div>
    </div>

    <div>
        <h2>
            Bóveda:
            <span class="font-italic">(total: {{getTotalCartas(boveda)}}) - Puntaje: {{getTotalPuntajeBoveda(boveda)}}</span>
        </h2>
        <div *ngFor="let carta of getCartasUnicas(boveda)">
            <ng-container *ngIf="carta.tipo.nombreTipo === 'TESORO' || carta.tipo.nombreTipo === 'TESORO - SAGRADO'">
                <div class="flex-container">
                    <ion-button color="danger" (click)="eliminarCarta(carta, boveda)">-</ion-button>
                    <ion-text color="light">
                        <p>
                            {{carta.numeroTesoro}} puntos - {{carta.nombreCarta}} x{{getCantidad(carta, boveda)}}
                        </p>
                    </ion-text>
                    <ion-button color="success" (click)="agregarCarta(carta)">+</ion-button>
                </div>
            </ng-container>
        </div>
        <div class="container d-flex align-items-center justify-content-center">
            <button (click)="agregarGenerico()" class="btn btn-success mb-5">Agregar tesoro genérico</button>
        </div>
    </div>

    <div>
        <h2>
            Side deck:
            <span class="font-italic">(total: {{ getTotalCartas(sidedeck) }})</span>
        </h2>
        <div *ngFor="let carta of getCartasUnicas(sidedeck)">
            <ng-container>
                <div class="flex-container">
                    <ion-button color="danger" (click)="eliminarCarta(carta, sidedeck)">-</ion-button>
                    <ion-text color="light">
                        <p>
                            {{ carta.nombreCarta }} x{{ getCantidad(carta, sidedeck) }}
                        </p>
                    </ion-text>
                    <ion-button color="success" (click)="agregarCarta(carta)">+</ion-button>
                </div>
            </ng-container>
        </div>
    </div>

    <h2 class="text-center display-text mt-4 mb-4">Importar decklist</h2>
    <div class="container">
        <textarea [(ngModel)]="textoEntrada" class="textarea" placeholder="Pega la lista aquí"></textarea>
    </div>
    <ion-button (click)="procesarTexto()" color="warning">Procesar</ion-button>

</ion-content>

<ion-row>
    <ion-col>
        <div class="ion-text-center">
            <ion-button color="tertiary" (click)="toggleOpciones()">
                {{ opcionesVisibles ? 'Ocultar opciones' : 'Ver opciones' }}
            </ion-button>
        </div>
    </ion-col>
</ion-row>

<ion-content [class.sin-fondo]="!opcionesVisibles" *ngIf="opcionesVisibles">

    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button color="primary" *ngIf="banderaLista" (click)="switchearEntreMainAndSidedeck()">
                        Agregar cartas al Sidedeck
                    </ion-button>
                    <ion-button color="primary" *ngIf="!banderaLista" (click)="switchearEntreMainAndSidedeck()">
                        Agregar cartas al mazo principal
                    </ion-button>
                </div>
            </ion-col>

            <ion-col>
                <div class="ion-text-center">
                    <ion-button color="medium" (click)="copyToClipboard()">Copiar al portapapeles</ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button color="success" (click)="guardarDecklist()">Guardar decklist</ion-button>
                </div>
            </ion-col>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button color="warning" *ngIf="!banderaImagenGenerada" (click)="generarImagen()">
                        Generar imagen de decklist
                    </ion-button>

                    <ion-button color="warning" *ngIf="banderaImagenGenerada" (click)="downloadAndSaveImage(imagenCombinada, 'imagenCombinada.jpg')">
                        Descargar imagen generada
                    </ion-button>

                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-content color="dark" class="ion-padding">
    <ion-searchbar name="buscadorNombre" id="buscadorNombre" [(ngModel)]="searchName" (ngModelChange)="searchName = $event.toUpperCase()" show-clear-button="always" clear-icon="trash-bin" placeholder="Ingresar nombre"></ion-searchbar>

    <ion-button color="warning" expand="block" (click)="searchByName()">Buscar</ion-button>

    <ion-searchbar name="buscadorNombre" id="buscadorNombre" [(ngModel)]="searchText" show-clear-button="always" clear-icon="trash-bin" placeholder="Ingresar nombre"></ion-searchbar>

    <ion-button color="warning" expand="block" (click)="searchByText()">Buscar</ion-button>

    <ion-text class="ion-margin-top ion-margin-bottom">
        <h5>Ó puedes buscar seleccionando los siguientes filtros:</h5>
    </ion-text>

    <ion-button expand="full" color="success" (click)="cambiarBanderaFiltro(true)" class="m-3">
        Filtros por inclusión
    </ion-button>
    <ion-button expand="full" color="success" (click)="cambiarBanderaFiltro(false)" class="m-3">
        Filtros por exclusión
    </ion-button>

    <ion-grid *ngIf="banderaFiltroIncluyente">
        <ion-row>
            <!-- Tipo y Expansión -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="tipo">
                        <ion-item slot="header">
                            <ion-label>Tipo</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let tipo of tipos; let i = index">
                                <ion-checkbox #checkbox [checked]="isTipoSelected(tipo.nombreTipo)" (ionChange)="updateFilters('tipo', tipo.nombreTipo, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateFilters('tipo', tipo.nombreTipo, {target: {checked: checkbox.checked}})">{{ tipo.nombreTipo }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>

                    <ion-accordion value="expansion">
                        <ion-item slot="header">
                            <ion-label>Expansión</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let expansion of (expansiones | async); let i = index">
                                <ion-checkbox #checkbox [checked]="isExpansionSelected(expansion.nombreExpansion)" (ionChange)="updateFilters('expansion', expansion.nombreExpansion, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateFilters('expansion', expansion.nombreExpansion, {target: {checked: checkbox.checked}})">{{ expansion.nombreExpansion }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>

            <!-- Rareza y Coste -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="rareza">
                        <ion-item slot="header">
                            <ion-label>Rareza</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let rareza of rarezas; let i = index">
                                <ion-checkbox #checkbox [checked]="isRarezaSelected(rareza.nombreRareza)" (ionChange)="updateFilters('rareza', rareza.nombreRareza, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateFilters('rareza', rareza.nombreRareza, {target: {checked: checkbox.checked}})">{{ rareza.nombreRareza }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>

                    <ion-accordion value="coste">
                        <ion-item slot="header">
                            <ion-label>Coste</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let coste of costes; let i = index">
                                <ion-checkbox #checkbox [checked]="isCosteSelected(coste)" (ionChange)="updateFilters('costeCarta', coste, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateFilters('costeCarta', coste, {target: {checked: checkbox.checked}})">{{ coste }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>

            <!-- Subtipo -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="subtipo">
                        <ion-item slot="header">
                            <ion-label>Subtipo</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let subtipo of subtipos; let i = index">
                                <ion-checkbox #checkbox [checked]="isSubtipoSelected(subtipo.nombreSubTipo)" (ionChange)="updateFilters('subtipo', subtipo.nombreSubTipo, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateFilters('subtipo', subtipo.nombreSubTipo, {target: {checked: checkbox.checked}})">{{ subtipo.nombreSubTipo }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="ion-padding">
                    <ion-card-header>
                        <ion-card-title>
                            Se han encontrado {{ filteredCartasNuevo?.length }} cartas con los filtros añadidos
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let card of filteredCartasNuevo">
            <ion-col size="12" class="carta-container">
                <div class="carta-contenido">
                    <ion-img class="carta" [src]="getCardImage(card)" [alt]="card.nombreCarta" (error)="onImageError($event, card)" (click)="agregarCarta(card)"></ion-img>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid *ngIf="banderaFiltroExcluyente">
        <ion-row>
            <!-- Tipo y Expansión -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="tipo">
                        <ion-item slot="header">
                            <ion-label>Tipo</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let tipo of tipos; let i = index">
                                <ion-checkbox #checkbox [checked]="isTipoSelected(tipo.nombreTipo)" (ionChange)="updateStrictFilters('tipo', tipo.nombreTipo, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateStrictFilters('tipo', tipo.nombreTipo, {target: {checked: checkbox.checked}})">{{ tipo.nombreTipo }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>

                    <ion-accordion value="expansion">
                        <ion-item slot="header">
                            <ion-label>Expansión</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let expansion of (expansiones | async); let i = index">
                                <ion-checkbox #checkbox [checked]="isExpansionSelected(expansion.nombreExpansion)" (ionChange)="updateStrictFilters('expansion', expansion.nombreExpansion, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateStrictFilters('expansion', expansion.nombreExpansion, {target: {checked: checkbox.checked}})">{{ expansion.nombreExpansion }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>

            <!-- Rareza y Coste -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="rareza">
                        <ion-item slot="header">
                            <ion-label>Rareza</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let rareza of rarezas; let i = index">
                                <ion-checkbox #checkbox [checked]="isRarezaSelected(rareza.nombreRareza)" (ionChange)="updateStrictFilters('rareza', rareza.nombreRareza, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateStrictFilters('rareza', rareza.nombreRareza, {target: {checked: checkbox.checked}})">{{ rareza.nombreRareza }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>

                    <ion-accordion value="coste">
                        <ion-item slot="header">
                            <ion-label>Coste</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let coste of costes; let i = index">
                                <ion-checkbox #checkbox [checked]="isCosteSelected(coste)" (ionChange)="updateStrictFilters('costeCarta', coste, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateStrictFilters('costeCarta', coste, {target: {checked: checkbox.checked}})">{{ coste }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>

            <!-- Subtipo -->
            <ion-col size="12" size-md="6">
                <ion-accordion-group>
                    <ion-accordion value="subtipo">
                        <ion-item slot="header">
                            <ion-label>Subtipo</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" style="max-height: 200px; overflow-y: auto;">
                            <div class="checkbox-group" *ngFor="let subtipo of subtipos; let i = index">
                                <ion-checkbox #checkbox [checked]="isSubtipoSelected(subtipo.nombreSubTipo)" (ionChange)="updateStrictFilters('subtipo', subtipo.nombreSubTipo, $event)"></ion-checkbox>
                                <ion-label color="dark" class="label" (click)="checkbox.checked = !checkbox.checked; updateStrictFilters('subtipo', subtipo.nombreSubTipo, {target: {checked: checkbox.checked}})">{{ subtipo.nombreSubTipo }}</ion-label>
                            </div>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="ion-padding">
                    <ion-card-header>
                        <ion-card-title>
                            Se han encontrado {{ filteredCartasNuevo?.length }} cartas con los filtros añadidos
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let card of filteredCartasNuevo">
            <ion-col size="12" class="carta-container">
                <div class="carta-contenido">
                    <ion-img class="carta" [src]="getCardImage(card)" [alt]="card.nombreCarta" (error)="onImageError($event, card)" (click)="agregarCarta(card)"></ion-img>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-row *ngIf="
!(
  selectedRareza ||
  selectedExpansion ||
  selectedTipo ||
  selectedSubTipo ||
  selectedSubTipo2 ||
  selectedSubTipo3 ||
  selectedCoste ||
  searchText
) && filteredCartas?.length === 0 && filteredCartasNuevo?.length === 0
">
        <ion-col>
            <ion-card class="ion-padding">
                <ion-card-header>
                    <ion-card-title *ngIf="
                !banderaFiltroExcluyente &&
                !banderaFiltroIncluyente &&
                searchText === null
              ">
                        Existen {{ cartas?.length }} cartas actualmente.
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="
    banderaFiltroExcluyente &&
    (searchByText !== null)
  ">
        <ion-col>
            <ion-card class="ion-padding">
                <ion-card-header>
                    <ion-card-title *ngIf="
                  !(
                    selectedRareza ||
                    selectedExpansion ||
                    selectedTipo ||
                    selectedSubTipo ||
                    selectedSubTipo2 ||
                    selectedSubTipo3 ||
                    selectedCoste ||
                    searchText
                  ) && filteredCartas?.length === 0
                ">
                        Selecciona filtros para buscar
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-grid *ngIf="
  banderaFiltroExcluyente || searchByText !== null
  ">
        <ion-row *ngFor="let carta of filteredCartas">
            <ion-col size="12" class="carta-container">
                <div class="carta-contenido">
                    <ion-img class="carta" [src]="getCardImage(carta)" [alt]="carta.nombreCarta" (error)="onImageError($event, carta)" (click)="agregarCarta(carta)"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="
        selectedRareza === null &&
        selectedExpansion === null &&
        selectedTipo === null &&
        selectedSubTipo === null &&
        selectedSubTipo2 === null &&
        selectedSubTipo3 === null &&
        selectedCoste === null &&
        (searchText === '' || searchText === null) &&
        !banderaFiltroIncluyente &&
        !banderaFiltroExcluyente
      ">
        <ion-row *ngFor="let card of cartas">
            <ion-col size="12" class="carta-container">
                <div class="carta-contenido">
                    <ion-img class="carta" [src]="getCardImage(card)" [alt]="card.nombreCarta" (error)="onImageError($event, card)" (click)="agregarCarta(card)"></ion-img>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-row *ngIf="
    filteredCartas?.length === 0 && filteredCartasNuevo?.length === 0 &&
    (selectedRareza ||
      selectedExpansion ||
      selectedTipo ||
      selectedSubTipo ||
      selectedSubTipo2 ||
      selectedSubTipo3 ||
      selectedCoste ||
      searchText)
  ">
        <ion-col>
            <ion-card class="ion-padding">
                <ion-card-header>
                    <ion-card-title>
                        No se han encontrado cartas con los filtros seleccionados.
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>


<app-image-generator #imageGenerator [reino]="reino" (imageGenerated)="onImageGenerated($event)">
</app-image-generator>

<app-image-boveda-deck #imageBoveda [boveda]="boveda" (imageGenerated)="onImageGeneratedBoveda($event)">
</app-image-boveda-deck>

<app-image-sidedeck #imageSideDeck [sidedeck]="sidedeck" (imageGenerated)="onImageGeneratedSideDeck($event)">
</app-image-sidedeck>