.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: #fff;
}

.life-count {
  font-size: 10em;
}

.change-button {
  font-size: 1.5em;
}

.columna-boton-izquierdo {
  margin-left: 1px;
}

.columna-boton-derecho {
  margin-right: 1px;
}

.counter-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.top .life-count {
  transform: rotate(180deg);
}

.top, .bottom {
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top {
  background-color: #181818;
}

.bottom {
  background-color: #d77d07;
}

.reset-button-container {
  // display: flex;
  justify-content: center;
}

.reset-button {
  font-size: 1em; /* Ajusta este valor según sea necesario */
}

ion-button {
  font-size: 2em;
}

.player1-counter {
  transform: rotate(180deg);
}

.change-indicator {
  font-size: 3em;
  position: absolute;
  padding-bottom: 30vh;
}


