ion-title {
  text-align: center;
}

.carta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carta-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carta {
  max-width: 80%;
  height: auto;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen entre las opciones */
}

.checkbox-group ion-checkbox {
  margin-right: 10px; /* Ajusta el margen entre el checkbox y el label */
}

.label {
  margin-left: 5px;
}

