<ion-content class="ion-padding centered-container">

    <form class="center-content" [formGroup]="contactForm">
      <ion-grid>
        <ion-row>

          <!-- Campo de nombre de usuario -->
          <ion-col size="12" class="ion-margin">
            <ion-item lines="full">
              <ion-label position="floating" color="light">Username</ion-label>
              <ion-input type="text" placeholder="Ingrese su usuario" formControlName="formularioNombreUsuario"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="contactForm.get('formularioNombreUsuario')?.touched && contactForm.get('formularioNombreUsuario')?.errors?.['required']">
              *El campo de nombre es obligatorio
            </ion-text>
            <ion-text color="danger" *ngIf="contactForm.get('formularioNombreUsuario')?.touched && contactForm.get('formularioNombreUsuario')?.errors?.['minlength']">
              *El campo de nombre debe contener al menos {{contactForm.get('formularioNombreUsuario')?.errors?.['minlength'].requiredLength}} letras
            </ion-text>
          </ion-col>

          <!-- Campo de contraseña -->
          <ion-col size="12" class="ion-margin">
            <ion-item lines="full">
              <ion-label position="floating" color="light">Contraseña</ion-label>
              <ion-input type="password" placeholder="Ingrese su contraseña"
                        formControlName="formularioPasswordUsuario"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="contactForm.get('formularioPasswordUsuario')?.touched && contactForm.get('formularioPasswordUsuario')?.errors?.['required']">
              *El campo de contraseña es obligatorio
            </ion-text>
            <ion-text color="danger" *ngIf="contactForm.get('formularioPasswordUsuario')?.touched && contactForm.get('formularioPasswordUsuario')?.errors?.['minlength']">
            </ion-text>
          </ion-col>

          <!-- Botones -->
          <ion-col size="12" class="ion-margin-top">
            <ion-button expand="block" (click)="onSubmit()" [disabled]="contactForm.invalid">Iniciar sesión</ion-button>
            <ion-button expand="block" color="danger" (click)="recuperarPass()" class="ion-margin-top">Recuperar contraseña</ion-button>
            <ion-button expand="block" routerLink="/tabs/tab1/registro" class="ion-margin-top">Registrarse</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </form>

</ion-content>
