ion-content {
  --background: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/fondos/dorso.jpg') no-repeat center center / cover;
  position: relative;


  ion-button,
  ion-input,
  ion-textarea {
    z-index: 2; // O cualquier valor mayor que 1
  }

  .campos {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }


}
