ion-content {
  --background: none;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/fondos/dorso.jpg') no-repeat center center / cover;
  position: relative;


  ion-button,
  ion-input,
  ion-textarea {
    z-index: 2; // O cualquier valor mayor que 1
  }

  .campos {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }

  ion-modal ion-backdrop {
    visibility: visible !important;
    z-index: 20 !important; /* Asegúrate de que este valor sea mayor que el del contenido de la página pero menor que el del modal-wrapper */
  }

  .modal-wrapper {
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    position: absolute !important;
    border-radius: 10px; /* Opcional, para bordes redondeados */
  }


}

ion-modal ion-backdrop {
  visibility: visible !important;
  z-index: 20 !important; /* Asegúrate de que este valor sea mayor que el del contenido de la página pero menor que el del modal-wrapper */
}

.modal-wrapper {
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  position: absolute !important;
  border-radius: 10px; /* Opcional, para bordes redondeados */
}


